<main>

  <section>
      <div class="profile-picture">
        <img src="assets/img/FotoPerfil.jpg" alt="Foto de perfil">
      </div>
      <!-- Título principal -->
      <h1 class="title">LUIS H ZAPATA AMAYA</h1>
      <h2>PERFIL PROFESIONAL</h2>
      <h3>Ingeniero de Telecomunicaciones</h3>
   </section>
  <section class="columns-container">
    <!-- Columna de perfil como ingeniero -->
    <div class="column profile-column">
        <h3>INGENIERO DE TELECOMUNICACIONES</h3>
        <p>Soy ingeniero de telecomunicaciones con tarjeta profesional vigente. Tengo amplia experiencia y pasión por la innovación en el campo de las tecnologías de la información y la comunicación. Poseo una sólida trayectoria en el diseño, implementación y mantenimiento de proyectos electrónicos, así como en la instalación y administración de redes, con un enfoque especial en la seguridad de centros de cómputo. Además, me destaco como desarrollador Fullstack, especializado en metodologías ágiles, con experiencia en una variedad de lenguajes de programación, incluyendo Python para análisis de datos, Java, JavaScript, NodeJS, Angular, HTML y CSS. Mi enfoque proactivo y mi capacidad para adaptarme a los desafíos tecnológicos emergentes me permiten ofrecer soluciones innovadoras y de calidad en cada proyecto en el que me involucro.</p>
    </div>
    <!-- Columna de proyectos realizados -->
    <div class="column projects-column">
      <h3>PRINCIPALES PROYECTOS</h3>
      <ul class="project-list">

        <li>Automatización de procesos Operativos con Ofimática: en Microsoft Office y con la Suite de Google.</li>
        <li>Desarrollo de Macros personalizadas.</li>
        <li>Creación y Refactorización de APIs (JavaScript, Node).</li>
        <li>Implementación de proyectos en la nube de AWS.</li>
        <li>Instalación y certificación de redes de voz y datos.</li>
        <li>Scrum Master. Implementación de metodologías Agile</li>
      </ul>
    </div>
</section>
</main>
